/*
    #1c2321 - Dark Green
    #b2ffa9 - Mint Green
    #b5bec6 - Silver
    #81523f - Brown
    #3f2a2b - Dark Burgundy
*/

/* Global styles
-----------------------------------*/
body {
    color: #1c2321;
}
img {
    width: 300px;
}

/* Profiles
-----------------------------------*/
header {
    background-color: #3f2a2b;
}


/* Projects
-----------------------------------*/



/* Work Experience
-----------------------------------*/



/* Education
-----------------------------------*/



/* Contact Info
-----------------------------------*/
