/*
    #1c2321 - Dark Green
    #b2ffa9 - Mint Green
    #b5bec6 - Silver
    #81523f - Brown
    #3f2a2b - Dark Burgundy
*/

/* Global styles
-----------------------------------*/
body {
    color: #1c2321;
}
img {
    width: 300px;
}
a {
    color: #15b9ff;
}

.projects a {
    color: red;
}

a:hover {
    text-decoration: none;
}

/* Profiles
-----------------------------------*/
header {
    background-color: #3f2a2b;
    color: #fff;
}


/* Projects
-----------------------------------*/
.projects {
    background-color: #b5bec6;
}


/* Work Experience
-----------------------------------*/
.work-experience {
    background-color: #b2ffa9;
}


/* Education
-----------------------------------*/



/* Contact Info
-----------------------------------*/

footer {
   background-color: #3f2a2b;
   color: #fff;
}